body{
    background-color: rgb(5, 5, 5);
}
li{
    padding: 0 34rem 0 34rem;
    background-color: aqua;
    color: brown;
    line-height: 500%;
    font-family: Arial;
    list-style-position: inside;
    border: 2px solid burlywood;
    border-radius: 590%;  
}
img{
    opacity: 0.6;
    border-block-end-color: black;
    border-radius: 590%;
    widows: 50%;
}
p{
    background-color: antiquewhite;
    font-size: 2rem;
    
}
.box-1{
    font-weight: bold;
    font-family: Arial;
    font-size: 2rem;
}