body{
    background-color: black;
}
p{
    font-size: 0fr;
    font-family: Georgia;
    font-variant: initial;
    font-weight: 300;
    text-decoration-style: solid;
    color: chocolate;
    text-decoration-line: underline; 
    text-align: justify;
}
img{
    opacity: 0.6;
    border-block-end-color: black;
    border-radius: 50%;
}

